@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", serif;
}
.leaflet-container {
    width: 100%;
    height: 60vh;
}
.button {
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    padding: 3px 7px;
    transition: .5s;
}
.button:hover {
    background-color: red;
}
.button-lg {
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    transition: .5s;
    padding: 10px 20px;
}
.button-lg:hover {
    background-color: red;
}
.rating span {
    display: flex;
    gap: 5px;
}
.active {
    color: rgb(28, 50, 248);
}
.carousel img {
    width: inherit !important;
}
.carousel .slide img {
    width: inherit !important;
}